*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #5b2d2d;
  background-color: #f5e9e5;
  font-family: 'DM Sans', sans-serif; }

h1 {
  font-size: 8em;
  font-family: 'Playfair Display', serif; }

h2 {
  font-size: 2.4em;
  font-weight: 400; }

h3 {
  font-size: 1.6em;
  font-weight: 400; }

p {
  font-size: 1.2em;
  text-align: center; }

a {
  text-decoration: none; }

li {
  list-style: none;
  font-size: 1.6em; }

#about .content, #shop .content, #contact .content {
  width: 100vw;
  min-height: 100vh;
  padding: 4em 4em 4em 0; }
  @media (max-width: 768px) {
    #about .content, #shop .content, #contact .content {
      padding: 2em 2em 2em 0; } }
  @media (max-width: 576px) {
    #about .content, #shop .content, #contact .content {
      padding: 2em; } }

#shop .item .mask {
  width: 100%;
  height: 100%; }

header {
  display: none; }

.contents {
  width: 100vw;
  min-height: 100vh;
  display: flex; }
  .contents__side {
    width: 20%;
    display: flex;
    justify-content: center; }
    .contents__side .nav {
      height: 100vh;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      position: fixed;
      padding: 4em 0; }
      .contents__side .nav__logo {
        display: flex;
        justify-content: center; }
        .contents__side .nav__logo img {
          width: 50%; }
      .contents__side .nav__menu {
        display: flex;
        justify-content: center; }
        .contents__side .nav__menu li {
          margin-bottom: 0.4em;
          writing-mode: vertical-rl; }
        .contents__side .nav__menu a {
          color: #5b2d2d; }
          .contents__side .nav__menu a:hover {
            color: #fff; }
  .contents__main {
    width: 80%; }

#top {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  padding-right: 4em;
  background: url("/img/top.jpg") center center/cover no-repeat fixed; }
  #top h1 {
    text-align: right; }

#about {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center; }
  #about .content {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    flex-wrap: wrap; }
  #about img {
    width: 100%; }
  #about h2 {
    text-align: right; }
  #about p {
    padding: 0 0.8em; }
  #about .picture {
    position: relative; }
    #about .picture--text {
      position: absolute;
      left: 1.2em;
      bottom: 1.2em;
      text-align: left; }

#shop {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center; }
  #shop .content {
    flex-wrap: wrap;
    align-content: space-between;
    display: flex;
    justify-content: space-between; }
  #shop .item {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; }
    #shop .item img {
      width: 100%; }
    #shop .item .mask {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      padding: 1em 2em;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 0.6s ease;
      -webkit-transition: all 0.6s ease; }
      #shop .item .mask__caption {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between; }
    #shop .item:hover .mask {
      opacity: 1;
      padding-top: 2em;
      padding-bottom: 2em; }
  #shop h2, #shop h3, #shop a {
    color: #fff; }
  #shop a:hover {
    color: #5b2d2d; }
  #shop .fa-shopping-bag {
    margin-right: 0.4em; }

#contact {
  min-height: 100vh;
  display: flex;
  justify-content: center; }
  #contact .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  #contact .item {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center; }
  #contact img {
    width: 100%; }
  #contact .text {
    text-align: center; }
    #contact .text__icons {
      margin-top: 1em; }
      #contact .text__icons a {
        margin-right: 0.4em;
        color: #5b2d2d; }
        #contact .text__icons a:hover {
          color: #fff; }

@media (max-width: 768px) {
  h1 {
    font-size: 6.4em; }
  h2 {
    font-size: 1.6em; }
  h3 {
    font-size: 1.2em; }
  p {
    font-size: 1em; }
  li {
    font-size: 1.2em; }
  .contents__side .nav {
    padding: 2em 0; }
    .contents__side .nav__logo img {
      width: 80%; }
  #top {
    padding-right: 2.4em; }
  #about p {
    padding: 0; }
  #shop .item {
    width: 48%; }
    #shop .item .mask {
      padding: 1em; }
  #contact .item {
    width: 100%; }
  #contact h2 {
    margin-top: 0.4em; } }

@media (max-width: 576px) {
  h1 {
    font-size: 4em; }
  .contents__side {
    width: 10%; }
  .contents__main {
    width: 90%; }
  #shop .item {
    width: 100%; } }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img//hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* clip-path: polygon(x y, x y, x y, x y); */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 40px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.btn, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--white {
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
