#shop .item img, #shop .item .mask {
  width: 100%;
  height: 100%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #5b2d2d;
  background-color: #f5e9e5;
  font-family: 'DM Sans', sans-serif; }

h1 {
  font-size: 8em;
  font-family: 'Playfair Display', serif; }

h2 {
  font-size: 2.4em;
  font-weight: 400; }

h3 {
  font-size: 1.6em;
  font-weight: 400; }

p {
  font-size: 1.2em;
  text-align: center; }

a {
  text-decoration: none; }

li {
  list-style: none;
  font-size: 1.6em; }

@media (max-width: 768px) {
  h1 {
    font-size: 6.4em; }
  h2 {
    font-size: 1.6em; }
  h3 {
    font-size: 1.2em; }
  p {
    font-size: 1em; }
  li {
    font-size: 1.2em; } }

@media (max-width: 576px) {
  h1 {
    font-size: 4em; } }

.contents {
  width: 100vw;
  min-height: 100vh;
  display: flex; }
  .contents__side {
    width: 20%;
    display: flex;
    justify-content: center; }
    .contents__side .nav {
      height: 100vh;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-duration: 1.2s;
      position: fixed;
      padding: 4em 0; }
      .contents__side .nav__logo {
        display: flex;
        justify-content: center; }
        .contents__side .nav__logo img {
          width: 8em; }
      .contents__side .nav__menu {
        display: flex;
        justify-content: center; }
        .contents__side .nav__menu li {
          margin-bottom: 0.4em;
          writing-mode: vertical-rl; }
        .contents__side .nav__menu a {
          color: #5b2d2d; }
          .contents__side .nav__menu a:hover {
            color: #fff;
            transition: all 0.4s; }
  .contents__main {
    width: 80%; }

@media (max-width: 768px) {
  .contents__side .nav {
    padding: 2em 0; }
    .contents__side .nav__logo img {
      width: 8em; } }

@media (max-width: 576px) {
  .contents__side {
    width: 15%; }
    .contents__side .nav__logo img {
      width: 4em; }
  .contents__main {
    width: 85%; } }

#top {
  min-height: 100vh;
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  animation-name: changeOpacity;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  padding-right: 4em;
  background: url("/img/top.jpg") center center/cover no-repeat fixed; }
  #top h1 {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    text-align: right; }

@media (max-width: 768px) {
  #top {
    padding-right: 2.4em; } }

#about {
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center; }
  #about .content {
    width: 100vw;
    min-height: 100vh;
    padding: 4em 4em 4em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between; }
    @media (max-width: 768px) {
      #about .content {
        padding: 2em 2em 2em 0; } }
    @media (max-width: 576px) {
      #about .content {
        padding: 0 2em 0 0;
        align-content: center; } }
  #about img {
    width: 100%;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  #about h2 {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    text-align: right; }
  #about p {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    padding: 0 0.8em; }
  #about .picture {
    position: relative; }
    #about .picture--text {
      position: absolute;
      left: 1.2em;
      bottom: 1.2em;
      text-align: left; }

@media (max-width: 768px) {
  #about p {
    padding: 0; } }

#shop {
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center; }
  #shop .content {
    width: 100vw;
    min-height: 100vh;
    padding: 4em 4em 4em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }
    @media (max-width: 768px) {
      #shop .content {
        padding: 2em 2em 2em 0; } }
    @media (max-width: 576px) {
      #shop .content {
        padding: 0 2em 0 0;
        align-content: center; } }
  #shop .item {
    width: 49%;
    margin: 0.2em 0;
    overflow: hidden;
    position: relative;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    #shop .item .mask {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      padding: 1em 2em;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 0.6s ease;
      -webkit-transition: all 0.6s ease; }
      #shop .item .mask__caption {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
    #shop .item:hover .mask {
      opacity: 1;
      padding-top: 2em;
      padding-bottom: 2em; }
  #shop h2, #shop h3, #shop a {
    color: #fff; }
  #shop a:hover {
    color: #5b2d2d;
    transition: all 0.4s; }
  #shop .fa-shopping-bag {
    margin-right: 0.4em; }

@media (max-width: 768px) {
  #shop .item .mask {
    padding: 1em; } }

@media (max-width: 576px) {
  #shop .item {
    width: 100%; } }

#contact {
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center; }
  #contact .content {
    width: 100vw;
    min-height: 100vh;
    padding: 4em 4em 4em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }
    @media (max-width: 768px) {
      #contact .content {
        padding: 2em 2em 2em 0; } }
    @media (max-width: 576px) {
      #contact .content {
        padding: 0 2em 0 0;
        align-content: center; } }
  #contact .item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  #contact img {
    width: 100%; }
  #contact .text {
    text-align: center; }
    #contact .text__icons {
      margin-top: 1em; }
      #contact .text__icons a {
        margin-right: 0.4em;
        color: #5b2d2d; }
        #contact .text__icons a:hover {
          color: #fff;
          transition: all 0.4s; }

@media (max-width: 768px) {
  #contact .item {
    width: 100%; }
  #contact h2 {
    margin-top: 0.4em; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes changeOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
