*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-brown;
  font-family: "DM Sans", sans-serif;
  background-color: $color-primary;
  // font-weight: 400;
  // font-size: 2em;
  // line-height: 1.7;
}

h1 {
  font-family: "DM Serif Display", serif;
}

.box {
  border: solid 0.2em $color-brown;
  // background: url("/img/top.jpg");
}


.content {
　width: 100vw;
　min-height: 100vh;
  display: flex;
  background: url("/img/top.jpg") center center / cover no-repeat fixed;;
}

.contents {
  display: flex;
  min-height: 100vh;
}

.sticky {
  position: fixed;
}

aside {
  width: 20%;
}

main {
  width: 80%;
}

#top {
  height: 100vh;
  background: url("/img/top.jpg") center center / cover no-repeat fixed;;
}

