*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-brown;
    background-color: $color-primary;
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-size: 10.4em;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 3.2em;
    font-weight: 400;
}
  
h3 {
    font-size: 2.4em;
    font-weight: 400;    
}

p {
    font-size: 1.6em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 2.4em;
}

// .box {
//     border: solid 0.2em $color-brown;
// }

.contents {
    width: 100vw;
    min-height: 100vh;
    display: flex;

    &__side {
        width: 20%;
        display: flex;
        justify-content: center;

        .nav {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            position: fixed;
            padding: 2em 0 4em 0;

            &__menu {
                display: flex;
                justify-content: center;
    
                ul {
                    text-align: center;
                }
    
                li {
                    margin-bottom: 0.2em;
                    writing-mode: vertical-rl;
                }
    
                a {
                    color: $color-brown;
                }
    
                .fa-shopping-bag {
                    font-size: 2.4em;
                    margin-top: 0.8em;
                }
            }
        }
    }
    
    &__main {
        width: 80%;
    }
}

// #top
#top {
    height: 100vh;
    display: flex;
    justify-content: flex-end;

    padding-right: 4em;    
    background: url("/img/top.jpg") center center / cover no-repeat fixed;
}

// #about
#about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 100vw;
        height: 100vh;
        padding: 4em 4em 4em 0;
    }

    img {
        width: 100%;
        margin: 1.6em 0;
    }

    h2 {
        text-align: right;
    }

    p {
        text-align: center;
    }

    .picture {
        position: relative;

        &--text {
            position: absolute;
            left: 0.8em;
            bottom: 0.8em;
    
            text-align: left;
        }
    }
}

// #shop
#shop {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;

        padding: 4em 4em 4em 0;
    }

    .item {
        width: 49%;

        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .mask {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
    
            position: absolute;
            left: 0;
            bottom: 0;
    
            opacity: 0;
            padding: 1em 2em;
            background-color: rgba($color-black, 0.2);
    
            transition:		all 0.6s ease;
            -webkit-transition:	all 0.6s ease;

            &__caption {
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
            }
        }

        &:hover .mask {
            opacity: 1;
            padding-top: 2em;
            padding-bottom: 2em;
        }  
    }

    h2, h3, a {
        color: $color-white;
    }

    p {
        text-align: center;
    }

    .fa-shopping-bag {
        margin-right: 0.4em;
    }
}

// #contact
#contact {
    height: 100vh;
    display: flex;
    justify-content: center;

    .content {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;

        padding: 4em 4em 4em 0;
    }

    .item {
        width: 50%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        
        text-align: center;

        &__icons {
            margin-top: 1em;
    
            a {
                font-size: 2.4em;
                margin-right: 0.4em;
                color: $color-brown;
            }
        }
    }
}
