*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vh;
  color: $color-brown;
  font-family: "DM Sans", sans-serif;
  background-color: $color-primary;
  // font-weight: 400;
  // font-size: 2em;
  // line-height: 1.7;
}

h1 {
  font-family: "DM Serif Display", serif;
}

#top {
  height: 100vh;
  background: center cover no-repeat url("/img/top.jpg");
}

.box {
  border: solid 0.2em $color-brown;
  // background: url("/img/top.jpg");
}
