#contact {
    @include base-style(center, center);

    .content {
        @include content-style(flex-end);
    }

    .item {
        width: 49%;

        @include flex-justify(center);
        align-items: center;

        @include animation(moveInBottom);
    }

    img {
        width: 100%;
    }

    .text {
        text-align: center;

        a {
            color: $color-brown;

            &:hover {
                color: $color-white;
                transition: all 0.4s;
            }
        }

        &__icons {
            margin-top: 1em;
    
            .fa-facebook-f {
                margin-right: 0.4em;
            }
        }
    }

    small {
        margin-top: 0.8em;
        color: $color-white;
    }
}

@media (max-width: 768px) {

    #contact {
        .item {
            width: 100%;
        }

        h2 {
            margin-top: 0.4em;
        }
    }
}