form {
    width: 100%;
    padding: 0 2.4em;

    input::placeholder, textarea::placeholder {
        color: $color-primary;
    }

    input, textarea {
        width: 100%;
        height: 3.2em;
        padding: 0.8em 1.6em;
        margin-bottom: 0.8em;
        
        font-size: 1em;
        color: $color-brown;

        border: none;
        outline: none;
        border-radius: 4px;
        background-color: rgba($color-white, 0.7);

        &:hover {
            background-color: $color-white;
        }
    }

    #submit {
        font-size: 1em;
        color: $color-white;

        border: solid 2.4px $color-white;
        background-color: transparent;

        &:hover {
            color: $color-primary;
            background-color: $color-white;
        }
    }

    textarea {
        height: 5.6em;
    }
}

@media (max-width: 768px) {

    form {
        padding: 0 1.2em;
        
        input, textarea {
            height: 3.2em;
            font-size: 1em;
        }
        
        textarea {
            height: 5.6em;
        }
    }
}

@media (max-width: 576px) {

    form {
        padding: 0 1em;
        
        input, textarea {
            height: 2.4em;
        }
    
        textarea {
            height: 5.6em;
        }
    }
} 