.contents {
    width: 100vw;
    min-height: 100vh;

    display: flex;

    &__side {
        width: 20%;

        @include flex-justify(center);

        .nav {
            height: 100vh;

            @include flex-justify(space-between);
            flex-direction: column;

            @include animation(moveInLeft);
            animation-duration: 1.2s;
        
            position: fixed;
            padding: 4em 0;

            &__logo {
                @include flex-justify(center);
                img {
                    width: 8em;
                    height: 8em;
                }
            }

            &__menu {
                @include flex-justify(center);
                li {
                    margin-bottom: 0.4em;
                    writing-mode: vertical-rl;
                }
    
                a {
                    color: $color-brown;

                    &:hover {
                        color: $color-white;
                        transition: all 0.4s;
                    }
                }
            }
        }
    }
    
    &__main {
        width: 80%;
    }
}

@media (max-width: 768px) {

    .contents {
        &__side {
            .nav {
                padding: 2em 0;        
            }
        }
    }
}

@media (max-width: 576px) {

    .contents {
        &__side {
            width: 15%;
            .nav {
                &__logo {
                    img {
                        width: 3.2em;
                        height: 3.2em;
                        padding: 0.2em;
                    }
                }
            }
        }
        &__main {
            width: 85%;
        }
    }
} 