@mixin animation($animation-name) {
    animation-name: $animation-name;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@mixin base-style($align, $justify){
    min-height: 100vh;

    display: flex;
    align-content: $align;
    justify-content: $justify;
}

@mixin content-style($justify){
    width: 100vw;
    min-height: 100vh;
    padding: 4em 4em 4em 0;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.8em;
    align-content: center;
    justify-content: $justify;

    @media (max-width: 768px) {
        padding: 2em 2em 2em 0;
    }
    @media (max-width: 576px) {
        padding: 0 2em 0 0;
    }
}

@mixin flex-justify($justify) {
    display: flex;
    justify-content: $justify;
}